<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div>Children</div>
<ul>
    <li th:each="child : ${children}" th:text="${child.name}"></li>

</ul>



<p th:unless="${children.size()}"><i>No Children yet</i></p>
<p><a th:href="'/parent/add-child/' + ${parentId}">Add Child</a> |
<a th:href="'/parent/remove-child/' + ${parentId}">Remove Child</a></p>

</body>
</html>